.footer {
    background-color: #266665;
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: cadetblue;
}

.copyright-section {
    font-size: 12px;
    align-items: flex-end;
    line-height: 15px;
}

